<div class="col-md-8 offset-md-3">
    <h3>Create Donor</h3>
        <div class="container">
           <form (ngSubmit)="onSubmit()">
                        <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Donor Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select type="text" class="form-control" id="donorName"
                                                [(ngModel)]="donors.donorName" name="donorName">
                                                <option value="" class="text-primary font-weight-bolder">
                                                    --- Select Name ---
                                                </option>
                                                <!-- <option *ngFor="let donor of donors">
                                                    {{donor.donorName}}
                                                </option> -->
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Name </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="userName"
                                            [(ngModel)]="donors.userName" name="userName">
                                    </div>
                                </div>
                            </div>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Password </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="password"
                                        [(ngModel)]="donors.password" name="password">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="address"
                                        [(ngModel)]="donors.address" name="address">
                                </div>
                            </div>
                        </div>
                         <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone Number</label>
                                </div>     
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="phoneNumber"
                                            [(ngModel)]="donors.phoneNumber" name="phoneNumber">
                                </div>
                            </div>
                        </div>
                         <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Established Date</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="establishedDate"
                                        [(ngModel)]="donors.establishedDate" name="establishedDate">
                                </div>
                            </div>
                        </div>
                        <br>
                <button class="btn btn-success" type="submit">Submit</button>
          </form>
    </div>
</div>