<!-- <h1>{{title}}</h1> -->
<div class="container">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <!-- <li class="nav-item">
            <a routerLink="donations" routerLinkActive="active" class="nav-link"> Donor List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-donation" routerLinkActive="active" class="nav-link"> Create Donation</a>
        </li> -->
    </ul>
</nav>
<div class="container">
    <div class="float-left">
        <div class="row">
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-donations></app-donations>
</div>
<footer class="footer">
    <div class="container">
        <span>All rights reserved 2021</span>
    </div>
</footer>

